*{
    font-family: sans-serif;
}
.header,.top{
    background-color: #1F2937;
    color:white;
}
.header{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    
}

.logo{
    margin:0 auto auto 0;
    font-size: 24px;
    padding: 5px;
    margin-left: 150px;

}
a{
    margin-right: 120px;
}
.right-links{
    padding:5px;
}
.hero{
    font-size: 48px;
}
.subhero{
    margin-top:-20px;
}
button{
    background-color: #3882F6;
    color:white;
    width: 100px;
    height:auto;
    padding:10px;
    border-radius: 5%;
    border-style: none;
}
img{
    width:650px;
    height: auto;
    padding: 30px;
    margin-top: 50px;
}
.info{
    font-size: 36px;
    font-weight: 800;
}
.quote{
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:120px;

}
blockquote
{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    margin-left: 400px;
    width:850px;
    color:#1f2937;
}
body{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container1{
    display: flex;
    flex-direction: column;
    width:500px;
    justify-content: center;
    
}
.middle{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.middle img{
    width:150px;
    background-color: grey;
    height:150px;
    margin:auto;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10%;
}
.images-text{
  display: flex;
  gap:60px;
}
.img-txt{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    
}
.middle p{
    width:250px;
    text-align: center;
}
.cite{
    margin-top:330px;
    font-weight: 700;
    margin-right: 200px;
    text-align: center;
}
.bottom{
    margin-top:70px;
    margin-bottom: 70px;
    margin-left: 450px;
    margin-right: 450px;
    padding:80px;
    border-style: solid;
    background-color: #3882f6;
    display: flex;
    color:white;
    border-radius: 25px;
    justify-content: space-between;
}
.bottom button{
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    height:60px;
    font-size: 18px;
    font-weight: 700;
    width:200px;
}
.bottom p{
    font-size: 18px;
}
.footer{
    display: flex;
}